.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #222;
}

h1 {
    color: #f1f1f1;
}

.buttons {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.buttons a {
    color: white;
    text-decoration: none;
}

.buttons:hover {
    background-color: #45a049;
}

